@import "tailwindcss";

:root {
  --background: #E7E7E3;
  --foreground: #232321;
  --primary: #2563eb;
  --primary-hover: #4A69E2;
  --radius: 1.5rem; /* 24px */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-primary-hover: var(--primary-hover);
  --radius-xl: var(--radius);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: "Rubik", Arial, Helvetica, sans-serif;
}
